<!DOCTYPE html>
<html>  
    <head>
        <title> Youth Bank </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body class="">
        

        <nav class="navbar navbar-light bg-dark navbar-expand-md mb-3">
            <div class="container">
                <a class="navbar-brand text-light" href="/">Youth Bank </a>
                
                <div class="collapse navbar-collapse " >
                    <ul class="navbar-nav ml-auto" >
                      
                            <li class="nav-item mx-2"><a href="/all" class="text-light">Users</a></li>
                            <li class="nav-item mx-2"><a href="/trans" class="text-light">Transaction History</a></li>
     
                    </ul>
                </div>
            </div>    
        </nav>
      
        