<%- include ('partials/header') %>

<div class="container">
    <!-- <div class="row text-center my-auto">
        <div class="col-md-6 col-12">
            <div class="card">
                <a href="/all">
                    <img src="/img/users.png" alt="" class="card-img-top" style="padding: 10px;">
                </a>
                <div class="card-body text-center">
                    <h4>All users</h4>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="card">
                <a href="/trans">
                    <img src="/img/transaction.png" alt="" class="card-img-top" style="padding: 10px;">
                </a>
                <div class="card-body text-center">
                    <h4>Transaction History</h4>
                </div>
            </div>
        </div>
    </div> -->
    <div class="jumbotron my-5 border border-dark rounded justify-content" style="padding: 10px; background-color: white;">
        <div class="row mt-5">
            <div class="col">
                <h1 class="display-4">Bank Transfers Easier and Faster</h1>
                <hr class="my-4"> 
                <p class="lead">GRIP Task #1</p>
                <h4 class="display-4">Basic Banking System</h4>
                <h4>-by Vishakha Mistry</h4>
                <div class="mt-5">
                    <p>
                        <button class="btn bg-dark">
                            <a href="/all" class="text-light">All users</a>
                        </button>
                    </p>
                    <p>
                        <button class="btn bg-dark">
                            <a href="/trans" class="text-light">Transaction History</a>
                        </button>
                    </p>
                    
                </div>
            </div>
            <div class="col">
                <img src="/img/bank.png" alt="" class="rounded mx-auto d-block">
            </div>

        </div>

        
     </div>    
        
</div>

<%- include ('partials/footer') %>